@import "tailwindcss";


@theme {
  --font-nav: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

.animate-fade-in-up {
  animation: fadeInUp 1.5s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-element{
    @apply hover:text-blue-400 active:underline;
}
.nav-responsive{
    @apply hover:text-black p-1 active:underline hover:bg-gray-200 rounded;
}

.input{
  @apply border-2 border-gray-400 rounded-lg p-1;
}

.form{
  @apply flex flex-col ml-160 mt-5 gap-2 w-60;
}

body.menu-open {
  overflow: hidden;
}